.active .conteiner0 {
    --i:1;--x:-0.5;--y:0.5;
}
.active .conteiner1 {
    --i:1;--x:-1.5;--y:-0.5;
} 
.active .conteiner2 {
    --i:2;--x:-0.5;--y:-0.5;
}
.active .conteiner3 {
    --i:3;--x:0.5;--y:-0.5;
}
.active .conteiner4 {
    --i:4;--x:0.5;--y:0.5;
}
.active .conteiner5 {
    --i:1;--x:0.5;--y:1.5;
}
.active .conteiner6 {
    --i:2;--x:-0.5;--y:1.5;
}
.active .conteiner7 {
    --i:3;--x:-1.5;--y:1.5;
}
.active .conteiner8 {
    --i:4;--x:-1.5;--y:0.5;
}
.active .conteiner9 {
    --i:1;--x:-1.5;--y:-1.5;
}
.active .conteiner10 {
    --i:2;--x:-0.5;--y:-1.5;
}
.active .conteiner11 {
    --i:3;--x:0.5;--y:-1.5;
}
.active .conteiner12 {
    --i:4;--x:1.5;--y:-1.5;
}
.active .conteiner13 {
    --i:1;--x:1.5;--y:-0.5;
}
.active .conteiner14 {
    --i:2;--x:1.5;--y:0.5;
}
.active .conteiner15 {
    --i:3;--x:1.5;--y:1.5;
}
.active .conteiner16 {
    --i:4;--x:2;--y:2;
    
}
